---
layout: page
permalink: /categories/
title: Categories
---

<section class="posts-grid">
  <div>
    {% for category in collections.postsByCategory %}
    <a href="{{site.baseurl}}/categories/#{{category.category|slugify}}"
      >#{{ category.category }}</a
    >
    {% endfor %}
  </div>
  {% for category in collections.postsByCategory %}
  <div class="archive-group">
    <a name="{{ category.category | slugify }}"></a>
    <h2>{{category.category}}</h2>
    <hr />
    {% for post in category.posts %}
    <article class="posts-grid__item">
      <a href="{{ site.baseurl }}{{ post.url }}" class="posts-grid__link">
        <h3 class="posts-grid__item-title">{{ post.data.title }}</h3>
      </a>
      <p class="posts-grid__summary">
        {{ post.data.excerpt | default: post.content | excerpt }}
      </p>
      <div class="posts-grid__meta">
        <time datetime="{{ post.date | date_to_xmlschema }}"
          >{{ post.date | date_to_long_string_locale }}</time
        >
        <span>
          - {% for category in post.data.categories %}
          <a href="{{site.baseurl}}/categories/#{{category|slugify}}"
            >{{ category }}</a
          >
          {% endfor %}
        </span>
      </div>
    </article>
    {% endfor %}
  </div>
  {% endfor %}
</section>
