---
layout: default
title: Home
---

<section class="posts-grid">
  <header>
    <h2 class="posts-grid__header">Latest Writings</h2>
    <hr/>
  </header>
{% for post in site.posts limit:5 %}
  <article class="posts-grid__item">
    <a href="{{ site.baseurl }}{{ post.url }}" class="posts-grid__link">
      <h3 class="posts-grid__item-title">
        {{ post.title }}
      </h3>
    </a>
    <p class="posts-grid__summary">{{ post.excerpt| strip_html }}</p>
    <div class="posts-grid__meta">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
      <span> -
      {% for category in post.categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{ category }}</a>
      {% endfor %}
      </span>
    </div>
  </article>
{% endfor %}
  <footer class="u-text-right">
    <hr/>
    <a href="{{site.baseurl}}/writings" class="button">All Writings →</a>
  </footer>
</section>
