<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% if description == nil %}
  <meta name="description" content="Personal Blog of Thanos Kolovos" />
  {% else %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  <title>
    {% if title == "Home" %} {{ site.title }} &middot; Homepage of Thanos
    Kolovos - codegazerants.com {% else %} {{ title }} &middot; {{ site.title }}
    by Thanos Kolovos {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/index.css" />

  <!-- RSS -->
  <link
    rel="alternate"
    type="application/atom+xml"
    title="{{ site.title }}"
    href="{{ site.baseurl }}/atom"
  />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <!-- Facebook Tags -->
  <meta property="og:title" content="{{ site.title }} - {{ title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:site_name" content="Codegaze" />
  <meta property="og:type" content="website" />
  {% if page.social_image %}
  <meta
    property="og:image"
    content="{{ site.url }}/assets/img/posts/{{page.social_image}}"
  />
  {% else %}
  <meta
    property="og:image"
    content="{{ site.url }}/assets/img/social/linkedin.png?v=2"
  />
  {% endif %} {% if description == nul %}
  <meta property="og:description" content="Personal Blog of Thanos Kolovos" />
  {% else %}
  <meta property="og:description" content="{{ description }}" />
  {% endif %}

  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="400" />

  <!-- Twitter Tags -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@codegaze" />
  <meta name="twitter:title" content="{{ title }}" />
  {% if description == nul %}
  <meta
    property="twitter:description"
    content="Personal Blog of Thanos Kolovos"
  />
  {% else %}
  <meta property="twitter:description" content="{{ description }}" />
  {% endif %}
  <meta name="twitter:creator" content="@codegaze" />
  <meta
    name="twitter:image"
    content="{{ site.url }}/assets/img/social/avatar.jpg?v=1"
  />

  <link rel="dns-prefetch" href="https://www.google-analytics.com" />

  <link
    rel="apple-touch-icon"
    sizes="400x400"
    href="/assets/img/avatar.jpg?v=3"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/manifest/favicon-32x32.png"
    sizes="32x32"
  />
  <link rel="manifest" href="/assets/manifest/manifest.json" />
  <link
    rel="mask-icon"
    href="/assets/manifest/safari-pinned-tab.svg"
    color="#5bbad5"
  />
  <meta
    name="msapplication-config"
    content="/assets/manifest/browserconfig.xml"
  />
  <meta name="theme-color" content="#578661" />
</head>
