<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  
{% if page.title == "Home" %}
  <meta name="description" content="Javascript, CSS, PHP, Ruby &amp; more...">
{% else %}
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="description" content="{{ page.description }}">
{% endif %}
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }} - Javascript, CSS, PHP, Ruby &amp; more...
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
 
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <!-- Facebook Tags -->
  <meta property="og:title" content="{{ site.title }} - {{ page.title }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="Codegaze">
  <meta property="og:content" content="website">
  <meta property="og:image" content="{{ site.url }}/assets/img/social/codegaze-450x250.png" >
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image:width" content="450" />
  <meta property="og:image:height" content="250" />

  <!-- Twitter Tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@codegaze">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:creator" content="@codegaze">
  <meta name="twitter:image" content="{{ site.url }}/assets/img/social/codegaze-120x120.png">

  <link rel="dns-prefetch" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">


  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/assets/img/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/img/icons/favicon-16x16.png" sizes="16x16">
  <meta name="theme-color" content="#e9c46a">

</head>
