// Code
//
// Inline and block-level code snippets. Includes tweaks to syntax highlighted
// snippets from Pygments/Rouge and Gist embeds.

:not(pre)>code[class*=language-] {
  padding: .25em .5em !important;
  font-size: 16px !important;
  color: #bf616a !important;
  background-color: #f9f9f9 !important;
  border-radius: 3px !important;
}
