.layout {
  &__row {
    max-width: remTron(820);
    padding-left:  1.5rem;
    padding-right: 1.5rem;
    margin-left:  auto;
    margin-right: auto;
    &--header {
      margin-top: $base-gutter * 4;
    }
    &--main {
      margin-top: $base-gutter * 4;
    }
    &--footer {
      margin-top: 2em;
      padding-bottom: 1rem;
    }
  }
}

.button {
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-style: wavy;
  text-decoration-color: var(--cs-brand-color);
  text-decoration-line: underline;
   &:hover {
    text-decoration-thickness: 2.3px;
  }
}

.u-text-right {
  text-align: right;
}
