.layout {
  &__row {
    max-width: remTron(820);
    padding-left:  1.5rem;
    padding-right: 1.5rem;
    margin-left:  auto;
    margin-right: auto;
    &--header {
      margin-top: $base-gutter * 4;
    }
    &--main {
      margin-top: $base-gutter * 4;
    }
    &--footer {
      margin-top: 2em;
      margin-bottom: 2rem;
    }
  }
}

.button {
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: var(--cs-link-active-color);
  }
}

.u-text-right {
  text-align: right;
}
