// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}
.user-message {
    background: #f1654c;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    z-index: 1;
}