/* Base Background Color */
$base-color-alpha: #fff;

/* Base theme Color */
$base-color-beta: #E9C46A;
$base-color-gamma: #515151;
$base-color-delta: #F1654C;
/* Font attributes */
$base-font-family-plain:  Helvetica, Arial, sans-serif;
$base-font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-color: #515151;
$base-font-size: 16px;

$base-link-color: #000;
$post-link-color: $base-color-beta;
$base-gutter: 15px;