* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: calc(var(--cs-base-font-size) * 1px);
  line-height: var(--cs-line-height-body);
  overflow-y: scroll;
  @media (min-width: 38em) {
    font-size: 18px;
  }
}

body {
  font-family: var(--cs-base-font-family-plain);
  color: var(--cs-font-color);
  background-color: var(--cs-bg);
  font-size: var(--cs-font-size-body);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body:after {
  content: "";
  position: fixed;
  background: var(--cs-secondary-color);
  height: 5px;
  bottom: 0;
  width: 100%;
}

a {
  color: var(--cs-link-color);
  text-decoration-line: none;

  &:hover,
  &:focus {
    text-decoration-line: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 var(--cs-space-4);
  border-radius: 5px;
}

table {
  margin-bottom: var(--cs-space-4);
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: var(--cs-space-2) var(--cs-space-4);
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.is-hidden {
  display: none;
}
.u-alignRight {
  margin-left: auto;
}
.u-margin-center {
  margin: 0 auto;
}
