h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--cs-space-3);
  font-weight: 700;
  line-height: var(--cs-line-height-headings);
  color: var(--cs-heading-color);
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: var(--cs-font-size-h1);
}
h2 {
  margin-top: var(--cs-space-10);
  font-size: var(--cs-font-size-h2);
}

h3 {
  margin-top: var(--cs-space-8);
  font-size: var(--cs-font-size-h3);
}

h4,
h5,
h6 {
  margin-top: var(--cs-space-6);
  font-size: var(--cs-font-size-h4);
}

p {
  margin-top: 0;
  margin-bottom: var(--cs-space-5);
}

strong {
  color: #303030;
  font-weight: 600;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: var(--cs-space-5);
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5rem;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
  }
}

blockquote {
  padding: var(--cs-space-2) var(--cs-space-4);
  margin: 0 0 var(--cs-space-5) 0;
  color: #7a7a7a;
  border-left: 0.25rem solid #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: var(--cs-space-12);
    padding-left: calc(var(--cs-space-4) + 0.25rem);
  }
}

a[href^="#fn:"],
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: 0.1rem;
  font-weight: bold;
}

/* reverted link decoration overrides */

.footnotes {
  margin-top: var(--cs-space-8);
  font-size: 85%;
}
