  body, html {
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  a {
    color: #fff;
  }
  .error-msg{
    width: 300px;
    margin:0 auto;
    background: #30AAF7;
  }
  .error-msg__info {
    display: flex;
    flex-flow: row;
  }
  .info__letter {
    padding: 20px 5px 20px 15px;
    font-size: 3em;
    color: #1B8AD0;
    text-align: center;
  }
  .info__text {
    padding: 10px;
  }
  .fake_service {
  
    border: 0;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
  .hidden { display: none;}

  .button {
    width: 300px;
    padding: 10px;
    background: #000;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 10px auto;
  }