---
layout: default
---

<article class="post">
  <h1 class="post__title">{{ title }}</h1>
  <div class="post__info">
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post__date">
      {{ page.date | date_to_long_string_locale }}
    </time>
    - {% for category in categories %}<a
      href="{{site.baseurl}}/categories/#{{category|slugify}}"
      >{{ category }}</a
    >
    {% endfor %}
  </div>
  <div class="post__content">{{ content }}</div>
  <footer class="post__footer">
    {% assign first_category = categories[0] %} {% assign all_related_posts =
    collections.posts %} {% assign related_urls = "" | split: "" %} {% if
    all_related_posts.size > 0 %}
    <ul class="post__related">
      <div><strong>Related Writings:</strong></div>
      {% assign count = 0 %} {% for post in all_related_posts %} {% assign
      has_category = false %} {% for post_category in post.data.categories %} {%
      if post_category == first_category %} {% assign has_category = true %} {%
      endif %} {% endfor %} {% if has_category and post.url != page.url and
      count < 5 %}
      <li class="post__related-item">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.data.title }}</a>
      </li>
      {% assign related_urls = related_urls | push: post.url %} {% assign count
      = count | plus: 1 %} {% endif %} {% endfor %}
    </ul>
    {% else %}
    <p>
      Read more about {% for category in categories %}<a
        href="{{site.baseurl}}/categories/#{{category|slugify}}"
        >{{ category }}</a
      >{% if forloop.last != true %}, {% endif %}{% endfor %}.
    </p>
    {% endif %} {% assign all_posts = collections.posts %} {% assign
    latest_count = 0 %} {% assign has_latest = false %} {% for post in all_posts
    %} {% if post.url != page.url %} {% assign is_related = false %} {% for
    related_url in related_urls %} {% if post.url == related_url %} {% assign
    is_related = true %} {% break %} {% endif %} {% endfor %} {% if is_related
    == false and latest_count < 5 %} {% if has_latest == false %}
    <ul class="post__related">
      <div><strong>Latest Writings:</strong></div>
      {% assign has_latest = true %} {% endif %}
      <li class="post__related-item">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.data.title }}</a>
      </li>
      {% assign latest_count = latest_count | plus: 1 %} {% endif %} {% endif %}
      {% endfor %} {% if has_latest %}
    </ul>
    {% endif %}
  </footer>
</article>

<div id="disqus_thread">
  <script
    src="https://giscus.app/client.js"
    data-repo="codegaze/codegaze.github.io"
    data-repo-id="MDEwOlJlcG9zaXRvcnkzNTE1MjE0Nw=="
    data-category="Codegazerants.com"
    data-category-id="DIC_kwDOAhhhE84CTJFt"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light_tritanopia"
    data-lang="en"
    crossorigin="anonymous"
    async
  ></script>
</div>
