---
layout: default
---

<article class="post">
  <h1 class="post__title">{{ page.title }}</h1>
  <div class="post__info">
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post__date">
      {{ page.date | date_to_long_string }}
    </time> -
    {% for category in page.categories %}<a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{ category }}</a> {% endfor %}
  </div>
  <div class="post__content">
    {{ content }}
  </div>
  <footer class="post__footer">
    Read more articles about {% for category in page.categories %}<a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{ category }}</a>{% if forloop.last != true %}, {% endif %}{% endfor %}.
  </footer>
</article>

<div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'codegazegithubio';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
